#popup-content{
	background-color: #000;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	color: #fff;
    display: none;
	max-width: 500px;
	padding: 0 10px 10px 10px;
	position: fixed;
	width: 25%;
	z-index: 1002;
	margin-top: 15%;
}
#popup-content h2{
	font-size: 1.2em;
	font-weight: bold;
	padding:10px;
	}

#popup-content > div + div{text-align: right;}
#modal-open-button{display: none;}
#overlay-bg{
	background-color:#000;
	display: none;
	height: 100%;
		left: 0;
		margin:auto;
		opacity: 0.6;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter:alpha(opacity=50) ;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1001;

}
#aa1 h2{
	font-size: 1.2em;
	font-weight: bold;
	padding:10px;
	}

#aa1{
	background-color: #000;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	display:none;		
	color: #fff;
    	max-width: 500px;
	padding: 0px 10px 10px 10px;
	position: fixed;
	width: 20%;
	height:20%;
	z-index: 1002;
	margin-top: -15%;
	margin-left: 38%;
}
button{

border-color:red;
float:right;
margin-top:-60px;
margin-right:-200px;
background-color: red;
border-radius:25px;
width:10%;
height:40px;
}




