.mail {
	border:5px solid #9900FF;
    margin-bottom: 5px;
    width: 415px;
}
#mail{
	height: 2em;
}
.uname {
    border:5px solid #9900FF;
    margin-bottom: 5px;
	width: 415px;
}
#uname{
	height: 2em;
}
.pass {
    border: 5px solid #9900FF;
    margin-bottom: 5px;
	width: 415px;
}
#pass{
	height: 2em;
}

#fname{
	border: 5px solid #9900FF;
    margin-bottom: 3em;
	width: 200px;
	height: 2em;
}
#lname{
	border: 5px solid #9900FF;
    margin-bottom: 3em;
	width: 200px;
	height: 2em;
}
.name{
	margin-bottom: -1em;
}
.box{
	margin-bottom: 2em;
}
.sign {
    background: #9900FF;
    border: .125em solid #9900FF;
    margin-bottom: .5em;
    padding: .5em;
    width:30%;
}
#submit{
	background: #FFD700;
	border: .125em solid #FFD700;
	-webkit-border-radius: 5px;
	width: 27em;  
	height: 3em;
	font-size: 15px;
}
input[type="checkbox"] {
  outline : 2px solid #9900FF;
  margin-right:10px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color:#9966CC;
  width: 100%;
}
header {
  position: fixed;
 top: 0;
  left: 0;
  height: 70px;
  background-color:#000000;
  width: 100%;
  margin-bottom: 5em;
}
.wel {
    background: gold;
    border: .125em solid gold;
    
    width:10em;
    height: 1em;
}

.box1 {
display: inline-block;
    width: 15em;
    border: 1em solid gold;
    float: left;
    background-color: gold;
}
.box2 {
display: inline-block;
    width: 14em;
    border: .125em solid #9900FF;;
    float: right;
    background-color: gold;
    padding: 10px; 
    
}	
.grid {
        font-size: 30px;
        display: inline-block;
        background: #9999FF;
        color:white; 
        width: 24%;
        padding: 2%;
        height: 170px;
        -webkit-border-radius: 10px;
    }

    /* All but the last 3 boxes */
    .grid:nth-last-child(n+2) {
        margin-bottom: 4%;
    }
    .gr{

        text-align: justify;
        font-size: 0;
        padding: 4% 4% 4% 4%;
    }
   .break {
        display: inline-block;
        width: 20%;
        height: 0
    }

    .toni img{

    	margin:5px;
    	position: absolute;
    }
    .cent{
    	margin:5px;
    	
    }

