.mail {
    border:5px solid #7c70b8;
    margin-bottom: 5px;
    width: 413px;
    border-radius: 5px;
}
#mail{
	height: 30px;
}
.uname {
    border:5px solid #7c70b8;
    margin-bottom: 5px;
	width: 413px;
        border-radius: 5px;
}
#uname{
	height: 30px;
}
.pass {
    border: 5px solid #7c70b8;
    margin-bottom: 5px;
	width: 413px;
     border-radius: 5px;
}
#pass{
	height: 30px;
}

#fname{
	border: 5px solid #7c70b8;
    margin-bottom: 3em;
	width: 200px;
	height: 30px;
  border-radius: 5px;
  
}
#lname{
	border: 5px solid #7c70b8;
    margin-bottom: 3em;
	width: 200px;
	height: 30px;
  border-radius: 5px;
  
}
.name{
	margin-bottom: -4em;
}
.box{
	margin-bottom: 2px;
	font-family:arial;
  }

.sign {
    background: linear-gradient(mediumpurple,slateblue);
    border: .125em solid linear-gradient(lightsteelblue,mediumpurple);
    margin-bottom: 8%;
    padding: .5em;
    width:30%;
	  border-radius:5px;	
   height:80px;
   font-family:arial;
}
#submit{
	background: linear-gradient(gold, orange);
	border: .125em solid #FFD700;
	-webkit-border-radius: 5px;
	width: 100%;  
	height: 40px;
	font-size: 15px ;
  color: #282828;
	
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color:#504683;
  width: 100%;
}
header {
  position: fixed;
   top: 0;
  left: 0;
  height: 70px;
  background-color:#252525;
  width: 100%;
  margin-bottom:0px;
}
.wel {
    background: gold;
    border: .125em solid gold;
    
    width:10em;
    height: 1em;
}

.box1 {
display: inline-block;
    width: 10%;
    border: 10px solid gold;
    float: left;
    background-color: gold;

}
.box2 {
display: inline-block;
    width: 17%;
    border: 4px solid #6d61a9;
    float: right;
    padding: 10px; 
    margin-top: -20px;
    margin-right: 11%;
    border-radius: 3px;
    background: linear-gradient(#fecd19,orange);
}	
.grid {
        font-size: 30px;
        display: inline-block;
        background: #9999FF;
        color:white; 
        width: 24%;
        padding: 2%;
        height: 170px;
        -webkit-border-radius: 10px;
    }

    /* All but the last 3 boxes */
    .grid:nth-last-child(n+2) {
        margin-bottom: 4%;
    }
    .gr{

        text-align: justify;
        font-size: 0;
        padding: 4% 4% 4% 4%;
    }
   .break {
        display: inline-block;
        width: 20%;
        height: 0
    }

    .toni img{

    	margin:5px;
    	position: absolute;
    }
    .cent{
  display: inline-block;
  width: 100%;
  height: 100%;
  
}
#login
{
margin-left:-200px;
}
.mainlogininput::-webkit-input-placeholder {
    font-family: "Times New Roman", Times, serif;
    font-weight:bold;
}
.mainlogininput1::-webkit-input-placeholder {
    font-family: "arial";
    font-weight:bold;
}




